/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	font-family: "Poppins";
}

.navbar-container {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 3fr 1fr;
	margin: 2em 0 2em 110px;
}

.navbar-container img {
	height: 60px;
}

.list {
	list-style: none;
	display: flex;
	width: 60%;
	justify-content: space-between;
	color: #b1b1b1;
	font-size: 1.2rem;
}

li:nth-child(1) {
	color: black;
}

.navbar-container .button-group {
	display: grid;
	min-width: max-content;
	justify-items: center;
	align-items: center;
}

.button-group .nav-button {
	background-color: #5955b3;
	color: #ffffff;
	height: 60px;
	width: 150px;
	border: none;
	border-radius: 1em;
	font-size: 1.2rem;
}

.nav-button.btn {
	background-color: #5955b3;
	color: #ffffff;
	min-height: 70px;
	max-width: 250px;
	border: none;
	border-radius: 1em;
	font-size: 1.2rem;
}

.banner-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	margin-left: 110px;
}

.banner-container > :nth-child(1) {
	height: 84%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.banner-container > :nth-child(2) {
	margin-right: 110px;
}

.heading-text {
	color: #3c2f60;
	font-weight: 600;
	font-size: 4rem;
	line-height: 5rem;
}

.heading-text span {
	color: #5955b3;
}

.description {
	color: #b1b1b1;
	font-size: 1rem;
}

img {
	display: block;
}
